* {

box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

body {

    border: 0;
    padding: 0;
}


header {

min-height: 500px;
background-image: url("../images/background.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: bottom;
display:flex;


}

header .bg-gradient {

min-height: 300px;
background: linear-gradient(to bottom, rgba(0, 0, 0, .65) 0%, rgba(0, 0, 0, 0) 100%);



}

header #logo {
width: 200px;
color: #fff;
line-height: 58px;
text-align: center;
font-size: 2em;
text-shadow: #000 1px 1px 8px;

}

header #menu {
    flex:1;


}

header #menu ul {

display: flex;
justify-content: flex-end;
list-style: none;
padding: 0;

}

header #menu li {


min-width: 100px;
line-height: 28px;

}

header #menu a {

color: #fff;
text-decoration: none;
font-weight: bold;
padding: 20px;

}