* {

box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

body {

    border: 0;
    padding: 0;
}


header {

min-height: 500px;
background-image: url("../images/background.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: bottom;
display:flex;


}



header #logo {
width: 200px;


}

header #menu {
    flex:1;


}

header #menu ul {

display: flex;
justify-content: flex-end;

}

header #menu li {


min-width: 100px;

}

header #menu a {

color: #fff;
text-decoration: none;
font-weight: bold;
padding: 20px;

}